<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài khoản</title>
</head>
<body>
<h2>Đăng ký tài khoản mới</h2>

<form action="/account/register" method="post" enctype="multipart/form-data">
    <label>Tên đăng nhập:</label>
    <input name="username" th:value="${username}"><br>

    <label>Mật khẩu:</label>
    <input name="password" type="password"><br>

    <label>Xác nhận mật khẩu:</label>
    <input name="confirm" type="password"><br>

    <label>Ảnh đại diện:</label>
    <input name="photo" type="file"><br><br>

    <button>Đăng ký</button>
</form>

<p style="color:green" th:text="${message}"></p>

<div th:if="${photoName != null}">
    <h3>Ảnh đại diện:</h3>
    <img th:src="@{'/uploads/' + ${photoName}}" width="150">
</div>

</body>
</html>
